# Android Studio / IntelliJ IDEA
*.iml
.gradle
/local.properties
/.idea/
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aar
*.jks

# Skill Artifacts
conventional-commits.skill
/conventional-commits/
